@charset "UTF-8"
*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #748C76, #9FBFAD);
}
main{
    background-color: white;
width: 600px;
margin: auto;
padding: 10px;
border-radius: 5px;
box-shadow: 5px 5px 15px #4a584b94;


}
h1{
    font-size: 50px;
    color: #BF3939;
    text-align: center;
    text-shadow: 1px 1px 2px #661f1f9f;
}
h2{
    color: #423c30;
}